
@media (min-width: 1200px) {

    .jobs-list{
        width: 68%;
        margin: auto;
    }

    .job-item:hover{
        transform: scale(1.03);
        border: 1px rgb(23, 61, 184) solid;
    }

    .job-item:hover .job-item__button{
        font-size: 14px;   
        background-color:rgb(23, 61, 184);
        width: 100px;
        padding: 15px;
        border-radius: 30px;
        color:white;
        border: none;
        text-align: center;
    }
}

@media (min-width: 800px) and (max-width: 1199px){
    .jobs-list{
        width: 75%;
        margin: auto;
    }
}

.job-item{
    position: relative;
    width:300px;
    min-height: 200px;
    float: left;
    border: 1px rgba(0, 0, 0, 0.096) solid;
    border-radius: 10px;
    padding: 20px;
    margin:10px;
    background-color: white;
    text-decoration: none;
    -moz-transition: all .4s;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
}

    .job-item__title{
        font-size: 24px;    
        color:  rgb(23, 61, 184);
    }

    .job-item__button{
        font-size: 14px;   
        width: 100px;
        padding: 15px;
        border-radius: 30px;
        color:black;
        border: 1px rgba(0, 0, 0, 0.096) solid;
        text-align: center;
    }

    .job-item__button:hover{
        font-size: 14px;   
        background-color:rgb(23, 61, 184);
        width: 100px;
        padding: 15px;
        border-radius: 30px;
        color:white;
        border: none;
        text-align: center;
    }

    .job-item__button--align-bottom{
        position: absolute;
        left:20px;
        bottom:30px;
    }
