@media (min-width: 851px) {
    .JobsDetails__description{
        width: 600px;
        padding: 50px;
    }
}

@media (max-width: 850px){
    .JobsDetails__description{
        width: 300px;
    }
}

@media (min-width: 1280px){
    .return-link--position{
        position: absolute;
        left:30px;
        top:5px;
    }
}

@media (max-width: 1199px){
    .return-link--position{
        visibility: hidden;
    }
}

.JobsDetails{
    width: 70%;
    margin: auto;
    position: relative;
}

.JobsDetails__description{
    margin:auto;
    text-align: left;
}

.JobsDetails__title{
    text-align:center;
    margin-top: 20px;
    font-size: 36px;    
    font-weight: 800;
}

.JobsDetails__employment-type{
    text-align: center;
    padding:20px;
}

.icon--position{
    position: absolute;
}

.Link{
    text-decoration: none;
    color: black;
}

.Link:hover, .Link:active{
    color:  rgb(23, 61, 184);
}
