
@media (min-width: 1200px) {

    .jobs-list{
        width: 65%;
        margin: auto;
    }

    .job-item{
        margin:30px;
    }
}

@media (min-width: 800px) and (max-width: 1199px){
    .jobs-list{
        width: 75%;
        margin: auto;
    }
}

.job-item{
    position: relative;
    width:300px;
    height: 200px;
    float: left;
    border: 1px rgba(0, 0, 0, 0.096) solid;
    border-radius: 10px;
    padding: 20px;
    margin:15px;
    background-color: white;
    text-decoration: none;
}

    .job-item__title{
        font-size: 24px;    
        color:  rgb(23, 61, 184);
    }

    .job-item__button{
        background-color:rgb(23, 61, 184);
        width: 150px;
        padding: 15px;
        border-radius: 30px;
        color:white;
        border: none;
    }

    .job-item__button--align-bottom{
        position: absolute;
        left:20px;
        bottom:30px;
    }
